<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <ul>
        <% if(messages.success_msg) { %>
            <li>
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>

    <ul>
        <% if(messages.error) { %>
            <li>
                <%= messages.error %>
            </li>
            <% } %>
    </ul>
    <form action="/user/login" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <a href="./register">Not registered yet ? Register here</a>
    </form>
</body>

</html>