<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Register</title>
</head>

<body>

    <ul>
        <% if(typeof errors != 'undefined') { %>
            <% errors.forEach( error => { %>
                <li><%= error.message %></li>
           <% }) %>
       <% } %>
    </ul>
    <h1>Register</h1>
    <form action="/user/register" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirmPassword">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <a href="./login">Already registered ? Login here</a>
    </form>
</body>

</html>